header {
    @apply flex flex-row items-center bg-black shadow-md;
}

header .brand {
    @apply flex flex-1 flex-row items-center justify-between gap-8 py-2 px-4;
}

header .brand h1{
    margin:0px;
    padding:0.8rem 1rem;
    font-size: 1.2rem;
    color:#fff;
}

header .brand img {
    border-radius: 50%;
}